body {
  background-color: #fff;
  font-size: 20px;
}

div {
  /*border:1px solid #000;*/
}

p {
  font-family: 'Pompiere';
  font-size: 30px;
  color: #1b4b7e;
}

h1 {
  font-family:'Pompiere';
  font-weight: bold;
  font-size: 100px;
  color: #38a4e6;
  line-height: 80px;
/*  border: 2px solid #fff;*/
}

h2 {
  font-family: 'Pompiere';
  font-size: 50px;
  color: #1b4b7e;
}

h3 {
  font-family: 'PT Sans';
  font-size: 20px;
  letter-spacing: .5em;
  color: #fff;
}

.flat-icon {
    padding:23px 28px;
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    line-height: 100%;
    overflow: hidden;
/*    text-transform: uppercase;*/
    margin-right: 15px;
}

.header-row {
  padding: 40px;
/*  border-bottom: 2px dashed #1b4b7e;*/
}

.icon-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---------- Header Styling ---------- */
.horse_head {
  display: none;
}

/* ---------- Step Styling ---------- */

.grooming_pic_container {
  padding-top: 50px;
}

/* ---------- Letteringjs Kernaling ---------- */

h1.header_title_top .word3 {
  text-transform: lowercase;
  font-style: italic;
}
h1.header_title_top .word4 {
  text-transform: lowercase;
  /*font-style: italic;*/
}
h1.header_title_top .word5 {
  text-transform: lowercase;
  font-style: italic;
}

.header_title_bottom .line1 {
  margin: 0px;
  font-size: 70px;
  line-height: 20px;
  font-family: 'Cookie';
  letter-spacing: .26em;
  text-transform: lowercase;
  /*text-decoration: italic;*/
  /*font-style: italic;*/
  display: block;
  padding: 0px;
}
.header_title_bottom .line2 {
  margin: 0;
  font-size: 50px;
  line-height: 120px;
  letter-spacing: .23em;
  padding: 0px;
  /*font-style: italic;*/
}

/* ---------- Numbered Row Styling ---------- */

.odd-row {
  background-color: rgba(144,193,192,0.38);
  padding-top: 110px;
  padding-bottom: 110px;
  border-top: 2px solid #1b4b7e;
  border-bottom: 2px solid #1b4b7e;
}

.even-row {
  background-color: rgba(255,255,255,0.28);
  padding-top: 110px;
  padding-bottom: 110px;
/*  border-top: 2px dashed #1b4b7e;*/
}

/* ---------- Ribbon Banner ---------- */

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;

 position: relative;
 background: #225c91;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #3da3d4;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #1c4c7b transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
